USE [master]
GO
/****** Object:  Database [QLNH2]    Script Date: 5/2/2019 9:23:22 PM ******/
CREATE DATABASE [QLNH2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLNH2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QLNH2.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLNH2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QLNH2_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLNH2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLNH2]
GO
/****** Object:  Table [dbo].[Ban]    Script Date: 5/2/2019 9:23:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ban](
	[MaBan] [nchar](10) NOT NULL,
	[TenBan] [nvarchar](50) NULL,
	[TinhTrang] [bit] NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[MaBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CTHD]    Script Date: 5/2/2019 9:23:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHD](
	[MaHD] [nchar](10) NOT NULL,
	[MaHang] [nchar](10) NOT NULL,
	[SL] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HangHoa]    Script Date: 5/2/2019 9:23:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HangHoa](
	[MaHang] [nchar](10) NOT NULL,
	[TenHang] [nvarchar](50) NULL,
	[DonGia] [int] NULL,
	[SLCon] [int] NULL,
	[MaLH] [nchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 5/2/2019 9:23:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [nchar](10) NOT NULL,
	[NgayHD] [datetime] NULL,
	[TinhTrang] [bit] NULL,
	[MaBan] [nchar](10) NULL,
	[TenDangNhap] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LoaiHang]    Script Date: 5/2/2019 9:23:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiHang](
	[MaLH] [nchar](10) NOT NULL,
	[TenLH] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 5/2/2019 9:23:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NhanVien](
	[TenDangNhap] [varchar](50) NOT NULL,
	[TenNhanVien] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](100) NOT NULL,
	[Quyen] [nvarchar](20) NULL,
	[Anh] [image] NULL,
PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Ban] ([MaBan], [TenBan], [TinhTrang]) VALUES (N'B01       ', N'Bàn 1', 1)
INSERT [dbo].[Ban] ([MaBan], [TenBan], [TinhTrang]) VALUES (N'B02       ', N'Bàn 2', 0)
INSERT [dbo].[Ban] ([MaBan], [TenBan], [TinhTrang]) VALUES (N'B03       ', N'Bàn 3', 0)
INSERT [dbo].[CTHD] ([MaHD], [MaHang], [SL]) VALUES (N'HD02      ', N'HH01      ', 3)
INSERT [dbo].[CTHD] ([MaHD], [MaHang], [SL]) VALUES (N'HD04      ', N'HH01      ', 1)
INSERT [dbo].[CTHD] ([MaHD], [MaHang], [SL]) VALUES (N'HD04      ', N'HH02      ', 2)
INSERT [dbo].[HangHoa] ([MaHang], [TenHang], [DonGia], [SLCon], [MaLH]) VALUES (N'HH01      ', N'Nghiêu', 100000, 297, N'LH01      ')
INSERT [dbo].[HangHoa] ([MaHang], [TenHang], [DonGia], [SLCon], [MaLH]) VALUES (N'HH02      ', N'Sò', 80000, 289, N'LH01      ')
INSERT [dbo].[HangHoa] ([MaHang], [TenHang], [DonGia], [SLCon], [MaLH]) VALUES (N'HH04      ', N'Bò nướng ', 70000, 197, N'LH02      ')
INSERT [dbo].[HoaDon] ([MaHD], [NgayHD], [TinhTrang], [MaBan], [TenDangNhap]) VALUES (N'HD02      ', CAST(N'2019-04-05 00:00:00.000' AS DateTime), 1, N'B02       ', N'Huy12')
INSERT [dbo].[HoaDon] ([MaHD], [NgayHD], [TinhTrang], [MaBan], [TenDangNhap]) VALUES (N'HD04      ', CAST(N'2019-04-06 21:32:41.730' AS DateTime), 1, N'B10       ', N'Huy12')
INSERT [dbo].[HoaDon] ([MaHD], [NgayHD], [TinhTrang], [MaBan], [TenDangNhap]) VALUES (N'HD17      ', CAST(N'2019-04-08 20:18:23.490' AS DateTime), 1, N'B09       ', N'Huy12')
INSERT [dbo].[LoaiHang] ([MaLH], [TenLH]) VALUES (N'LH01      ', N'Hải sản')
INSERT [dbo].[LoaiHang] ([MaLH], [TenLH]) VALUES (N'LH02      ', N'Đồ nướng')
INSERT [dbo].[LoaiHang] ([MaLH], [TenLH]) VALUES (N'LH03      ', N'Cơm chiên ')
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_HangHoa] FOREIGN KEY([MaHang])
REFERENCES [dbo].[HangHoa] ([MaHang])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CTHD] CHECK CONSTRAINT [FK_CTHD_HangHoa]
GO
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_HoaDon] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CTHD] CHECK CONSTRAINT [FK_CTHD_HoaDon]
GO
ALTER TABLE [dbo].[HangHoa]  WITH CHECK ADD  CONSTRAINT [FK_HangHoa_LoaiHang] FOREIGN KEY([MaLH])
REFERENCES [dbo].[LoaiHang] ([MaLH])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HangHoa] CHECK CONSTRAINT [FK_HangHoa_LoaiHang]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_Ban] FOREIGN KEY([MaBan])
REFERENCES [dbo].[Ban] ([MaBan])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_Ban]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_NhanVien] FOREIGN KEY([TenDangNhap])
REFERENCES [dbo].[NhanVien] ([TenDangNhap])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_NhanVien]
GO
/****** Object:  StoredProcedure [dbo].[Ban_SelectNewID]    Script Date: 5/2/2019 9:23:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Ban_SelectNewID] 
as
begin
	Select CONCAT('B',max(cast(substring(MaBan,2,8) as int))+1) from Ban
end

GO
/****** Object:  StoredProcedure [dbo].[Count_BanByTinhTrang]    Script Date: 5/2/2019 9:23:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Count_BanByTinhTrang] @TinhTrang bit
as 
begin
	Select Count(MaBan) from Ban where TinhTrang = @TinhTrang
end
GO
/****** Object:  StoredProcedure [dbo].[CTHD_HDBH]    Script Date: 5/2/2019 9:23:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[CTHD_HDBH] @MaHD nchar(10)
as
begin
	Select hh.MaHang, TenHang, DonGia, SL, NgayHD, hd.MaHD, nv.TenDangNhap 
	from HoaDon hd, CTHD, HangHoa hh, NhanVien nv 
	where CTHD.MaHang = hh.MaHang and CTHD.MaHD = hd.MaHD and hd.TenDangNhap = nv.TenDangNhap and hd.MaHD = @MaHD
end
GO
/****** Object:  StoredProcedure [dbo].[Delete_Ban]    Script Date: 5/2/2019 9:23:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Delete_Ban] @MaBan nchar(10)
as
begin
	Delete from Ban where MaBan = @MaBan
end

GO
/****** Object:  StoredProcedure [dbo].[Delete_HangHoa]    Script Date: 5/2/2019 9:23:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Delete_HangHoa]	@MaHang nchar(10)
as
begin
	Delete from HangHoa where MaHang = @MaHang
end
GO
/****** Object:  StoredProcedure [dbo].[Delete_HoaDon]    Script Date: 5/2/2019 9:23:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Delete_HoaDon] @MaHD nchar(10)
as
begin
	Delete from HoaDon where MaHD = @MaHD
end

GO
/****** Object:  StoredProcedure [dbo].[Delete_HoaDonByTenDN]    Script Date: 5/2/2019 9:23:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Delete_HoaDonByTenDN] @TenDangNhap varchar(50)
  as
  begin
	Delete from HoaDon where TenDangNhap = @TenDangNhap
  end

GO
/****** Object:  StoredProcedure [dbo].[Delete_HoaDonChuaThanhToanByHD]    Script Date: 5/2/2019 9:23:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Delete_HoaDonChuaThanhToanByHD] @MaHD nchar(10)
as
begin
	
	Delete from HoaDon where TinhTrang = 0 and MaHD = @MaHD
end

GO
/****** Object:  StoredProcedure [dbo].[Delete_LoaiHang]    Script Date: 5/2/2019 9:23:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Delete_LoaiHang] @MaLH nchar(10)
as
begin
	Delete from LoaiHang where MaLH = @MaLH
end


GO
/****** Object:  StoredProcedure [dbo].[Delete_NhanVien]    Script Date: 5/2/2019 9:23:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE proc [dbo].[Delete_NhanVien] @TenDangNhap varchar(50)
  as
  begin 
	
	Delete from NhanVien where TenDangNhap = @TenDangNhap
  end

GO
/****** Object:  StoredProcedure [dbo].[Get_MaxMaHD]    Script Date: 5/2/2019 9:23:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Get_MaxMaHD] 
as
begin
	declare @maxid int, @MaHD nchar(10)
	Select @maxid = max(cast(substring(MaHD,3,8) as int)) from HoaDon
	if(@maxid < 10) 
	begin
		set @MaHD  = concat('HD0',@maxid)  
	end
	else 
		set @MaHD = concat('HD',@maxid)
	Select * from HoaDon where MaHD = @MaHD
end

GO
/****** Object:  StoredProcedure [dbo].[HangHoa_SelectNewID]    Script Date: 5/2/2019 9:23:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[HangHoa_SelectNewID]
as 
begin
	Select  concat('HH', max(cast(substring(MaHang,3,8) as int))+1) from HangHoa
end
GO
/****** Object:  StoredProcedure [dbo].[HoaDon_SelectNewID]    Script Date: 5/2/2019 9:23:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[HoaDon_SelectNewID] 
as
begin
	Select concat('HD',max(cast(substring(MaHD,3,8) as int))+1) from HoaDon
end
GO
/****** Object:  StoredProcedure [dbo].[Insert_Ban]    Script Date: 5/2/2019 9:23:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Insert_Ban] @maBan nchar(10), @TenBan nvarchar(50), @TinhTrang bit
as
begin
	Insert into Ban values(@maBan, @TenBan, @TinhTrang)
end
GO
/****** Object:  StoredProcedure [dbo].[Insert_CTHD]    Script Date: 5/2/2019 9:23:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Insert_CTHD] @MaHD nchar(10), @MaHang nchar(10), @SL int
as
begin
	declare @SLCu int = 0, @SLCon int 
	Select @SLCu = SL from CTHD where MaHD = @MaHD and MaHang = @MaHang
	Select @SLCon = SLCon from HangHoa where MaHang = @MaHang
	declare @SLMoi int = @SLCu + @SL
	if(@SLMoi > 0 and @SLMoi<= @SLCon)
		begin
			--if ton tai hang hoa roi thi set sl, nguoc lai Insert
			if(@SLCu > 0)
			Update CTHD set SL = @SLMoi where MaHD = @MaHD and MaHang = @MaHang
			else
			Insert into CTHD values(@MaHD,@MaHang,@SL)
		end
	else if(@SLMoi <= 0)
		begin
			Delete from CTHD where MaHD = @MaHD and MaHang = @MaHang
		end
end 

GO
/****** Object:  StoredProcedure [dbo].[Insert_CTHDByMa]    Script Date: 5/2/2019 9:23:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Insert_CTHDByMa] @MaHD nchar(10), @MaHang nchar(10), @SL int 
as
begin
	Insert into CTHD values(@MaHD, @MaHang, @SL)
end

GO
/****** Object:  StoredProcedure [dbo].[Insert_HangHoa]    Script Date: 5/2/2019 9:23:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Insert_HangHoa] @MaHang nchar(10), @TenHang nvarchar(50), @DonGia int, @SLCon int , @MaLH nchar(10)
as
begin
	Insert into HangHoa values(@MaHang,@TenHang,@DonGia,@SLCon,@MaLH)
end
GO
/****** Object:  StoredProcedure [dbo].[Insert_HD]    Script Date: 5/2/2019 9:23:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Insert_HD] @MaHD nchar(10), @NgayHD datetime, @TinhTrang bit, @MaBan nchar(10), @TenDangNhap varchar(50)
as
begin
	Insert into HoaDon values(@MaHD, @NgayHD, @TinhTrang, @MaBan, @TenDangNhap)
end

GO
/****** Object:  StoredProcedure [dbo].[Insert_HoaDon]    Script Date: 5/2/2019 9:23:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Insert_HoaDon] @MaBan nchar(10), @TenDangNhap varchar(50)
as
begin
	declare @id int, @MaHD nchar(10)
	Select @id = max(cast(substring(MaHD,3,8) as int))+1 from HoaDon
	if(@id < 10) 
	begin
		set @MaHD  = concat('HD0',@id)  
	end
	else 
		set @MaHD = concat('HD',@id) 
	Insert into HoaDon values(@MaHD, GETDATE(), 0, @maBan, @TenDangNhap)
end

GO
/****** Object:  StoredProcedure [dbo].[Insert_HoaDonByMaHD]    Script Date: 5/2/2019 9:23:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Insert_HoaDonByMaHD] @MaHD nchar(10), @MaBan nchar(10), @TenDangNhap varchar(50)
as
begin 
	Insert into HoaDon values(@MaHD, GETDATE(), 0, @maBan, @TenDangNhap)
end

GO
/****** Object:  StoredProcedure [dbo].[Insert_LoaiHang]    Script Date: 5/2/2019 9:23:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Insert_LoaiHang] @TenLH nchar(10)
as
begin 
	declare @id int, @MaLH nchar(10)
	Select @id = max(cast(substring(MaLH,3,8) as int))+1 from LoaiHang
	if(@id<10)
	set @MaLH = CONCAT('LH0',@id)
	else
	set @MaLH = CONCAT('LH',@id)
	Insert into LoaiHang values(@MaLH,@TenLH)
end

GO
/****** Object:  StoredProcedure [dbo].[Insert_NhanVien]    Script Date: 5/2/2019 9:23:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Insert_NhanVien] @TenDangNhap varchar(50), @TenNhanVien nvarchar(50), @MatKhau nvarchar(100), @Quyen nvarchar(20), @Anh image
as
begin
	Insert into NhanVien values(@TenDangNhap, @TenNhanVien, @MatKhau, @Quyen, @Anh)
end

GO
/****** Object:  StoredProcedure [dbo].[Login]    Script Date: 5/2/2019 9:23:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Login] @TenDangNhap varchar(50), @MatKhau nvarchar(100)
as
begin
	Select * from NhanVien where TenDangNhap = @TenDangNhap and MatKhau = @MatKhau
end

GO
/****** Object:  StoredProcedure [dbo].[Search_Ban]    Script Date: 5/2/2019 9:23:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Search_Ban] @TenBan nvarchar(50)
as
begin
	Select * from Ban where TenBan like CONCAT('%',@TenBan,'%')
end
GO
/****** Object:  StoredProcedure [dbo].[Search_HangHoa]    Script Date: 5/2/2019 9:23:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Search_HangHoa] @TenHang nvarchar(50)
as
begin
	Select * from HangHoa where TenHang like CONCAT('%',@TenHang,'%')
end
GO
/****** Object:  StoredProcedure [dbo].[Search_HoaDonByNgayLap]    Script Date: 5/2/2019 9:23:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Search_HoaDonByNgayLap] @NgayHD DateTime
as
begin
	Select * from HoaDon where day(NgayHD) = day(@NgayHD) and Month(NgayHD) = Month(@NgayHD) and
	year(NgayHD) = year(@NgayHD)
end
GO
/****** Object:  StoredProcedure [dbo].[Search_LoaiHang]    Script Date: 5/2/2019 9:23:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Search_LoaiHang] @TenLH nvarchar(20)
as
begin
	Select * from LoaiHang where TenLH like concat('%',@TenLH,'%')
end


GO
/****** Object:  StoredProcedure [dbo].[Search_NhanVienByTenDN]    Script Date: 5/2/2019 9:23:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Search_NhanVienByTenDN] @TenDangNhap varchar(50)
as
begin
	Select * from NhanVien where TenDangNhap like CONCAT('%',@TenDangNhap,'%')
end
GO
/****** Object:  StoredProcedure [dbo].[Select_Ban]    Script Date: 5/2/2019 9:23:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Select_Ban]
as 
begin
	Select * from Ban
end

GO
/****** Object:  StoredProcedure [dbo].[Select_BanByTinhTrang]    Script Date: 5/2/2019 9:23:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Select_BanByTinhTrang] @TinhTrang bit
as
begin
	Select * from Ban where TinhTrang = @TinhTrang
end

GO
/****** Object:  StoredProcedure [dbo].[Select_CTHDByMaHD]    Script Date: 5/2/2019 9:23:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Select_CTHDByMaHD] @MaHD nchar(10)
as
begin
	Select * from CTHD where MaHD = @MaHD
end


GO
/****** Object:  StoredProcedure [dbo].[Select_HangHoa]    Script Date: 5/2/2019 9:23:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Select_HangHoa] 
as
begin
	Select MaHang, TenHang, DonGia, SLCon, TenLH from HangHoa, LoaiHang where HangHoa.MaLH = LoaiHang.MaLH
end
GO
/****** Object:  StoredProcedure [dbo].[Select_HangHoaByMaLH]    Script Date: 5/2/2019 9:23:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Select_HangHoaByMaLH] @MaLH nchar(10)
as 
begin
	Select * from HangHoa where MaLH = @MaLH
end

GO
/****** Object:  StoredProcedure [dbo].[Select_HoaDon]    Script Date: 5/2/2019 9:23:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Select_HoaDon]
as
begin
	Select * from HoaDon
end
GO
/****** Object:  StoredProcedure [dbo].[Select_HoaDonBanByMa]    Script Date: 5/2/2019 9:23:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Select_HoaDonBanByMa] @MaBan nchar(10)
as
begin
	Select TenHang, DonGia, SL, DonGia*SL as [ThanhTien] 
	from HangHoa hh, CTHD, Ban b, HoaDon hd 
	where hh.MaHang = CTHD.MaHang and hd.MaHD = CTHD.MaHD and b.MaBan = hd.MaBan and hd.TinhTrang = 0 and b.MaBan = @MaBan
end

GO
/****** Object:  StoredProcedure [dbo].[Select_HoaDonChuaThanhToanByMaBan]    Script Date: 5/2/2019 9:23:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Select_HoaDonChuaThanhToanByMaBan] @MaBan nchar(10)
as
begin
	Select * from HoaDon where MaBan = @MaBan and TinhTrang = 0
end

GO
/****** Object:  StoredProcedure [dbo].[Select_LoaiHang]    Script Date: 5/2/2019 9:23:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Select_LoaiHang]
as 
begin
	Select * from LoaiHang
end

GO
/****** Object:  StoredProcedure [dbo].[Select_NhanVien]    Script Date: 5/2/2019 9:23:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Select_NhanVien] 
as
begin
	Select * from NhanVien
end

GO
/****** Object:  StoredProcedure [dbo].[Select_NhanVienByTenDN]    Script Date: 5/2/2019 9:23:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Select_NhanVienByTenDN] @TenDangNhap varchar(20)
as
begin
	Select * from NhanVien where TenDangNhap = @TenDangNhap
end

GO
/****** Object:  StoredProcedure [dbo].[ThongKeDoanhThu]    Script Date: 5/2/2019 9:23:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[ThongKeDoanhThu] @NgayBatDau DateTime, @NgayKetThuc DateTime
as
begin
	Select hd.MaHD, TenHang, DonGia, SL, DonGia*SL, NgayHD, TenDangNhap
	from HoaDon hd, CTHD, HangHoa hh
	 where hd.maHD = CTHD.MaHD and hh.MaHang = CTHD.MaHang and NgayHD Between @NgayBatDau and @NgayKetThuc and TinhTrang = 1
end
GO
/****** Object:  StoredProcedure [dbo].[Update_Ban]    Script Date: 5/2/2019 9:23:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Update_Ban] @maBan nchar(10), @TenBan nvarchar(50), @TinhTrang bit
as
begin
	Update Ban set TenBan = @TenBan, TinhTrang = @TinhTrang where MaBan = @MaBan
end
GO
/****** Object:  StoredProcedure [dbo].[Update_CTHD]    Script Date: 5/2/2019 9:23:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Update_CTHD] @MaHD nchar(10), @MaHang nchar(10), @SL int
as
begin
	Update CTHD set SL = @SL where MaHD = @MaHD and MaHang = @MaHang
end

GO
/****** Object:  StoredProcedure [dbo].[Update_HangHoa]    Script Date: 5/2/2019 9:23:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Update_HangHoa]	@MaHang nchar(10), @TenHang nvarchar(50), @DonGia int, @SLCon int, @MaLH nchar(10)
as
begin
	Update HangHoa set TenHang = @TenHang, DonGia = @DonGia, SLCon = @SLCon, MaLH = @MaLH where MaHang = @MaHang
end
GO
/****** Object:  StoredProcedure [dbo].[Update_HoaDon]    Script Date: 5/2/2019 9:23:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Update_HoaDon] @MaHD nchar(10), @NgayHD datetime, @TinhTrang bit, @MaBan nchar(10), @TenDangNhap varchar(50)
as
begin
	Update HoaDon set NgayHD = @NgayHD, TinhTrang = @TinhTrang, MaBan = @MaBan, TenDangNhap = @TenDangNhap where MaHD = @MaHD
end

GO
/****** Object:  StoredProcedure [dbo].[Update_HoaDonByMaBanAndMaHD]    Script Date: 5/2/2019 9:23:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Update_HoaDonByMaBanAndMaHD] @MaBan nchar(10), @MaHD nchar(10)
as
begin
	Update HoaDon set MaBan = @MaBan where MaHD = @MaHD
end

GO
/****** Object:  StoredProcedure [dbo].[Update_LoaiHang]    Script Date: 5/2/2019 9:23:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Update_LoaiHang] @MaLH nchar(10), @TenLH nvarchar(20)
as
begin
	Update LoaiHang set TenLH = @TenLH where MaLH = @MaLH
end

GO
/****** Object:  StoredProcedure [dbo].[Update_NhanVien]    Script Date: 5/2/2019 9:23:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Update_NhanVien] @TenDangNhap varchar(50), @TenNhanVien nvarchar(50), @MatKhau nvarchar(100), @Quyen nvarchar(20), @Anh image
as
begin
	Update NhanVien set  TenNhanVien = @TenNhanVien, MatKhau = @MatKhau, Quyen = @Quyen, Anh = @Anh where TenDangNhap = @TenDangNhap
end

GO
/****** Object:  StoredProcedure [dbo].[Update_NhanVienNoImg]    Script Date: 5/2/2019 9:23:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Update_NhanVienNoImg] @TenDangNhap varchar(50), @TenNhanVien nvarchar(50), @MatKhau nvarchar(100), @Quyen nvarchar(20)
as
begin
	Update NhanVien set  TenNhanVien = @TenNhanVien, MatKhau = @MatKhau, Quyen = @Quyen where TenDangNhap = @TenDangNhap
end

GO
/****** Object:  StoredProcedure [dbo].[Update_TinhTrangBan]    Script Date: 5/2/2019 9:23:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Update_TinhTrangBan] @TinhTrang bit, @MaBan nchar(10)
as
begin
	Update Ban set TinhTrang = @TinhTrang where MaBan = @MaBan
end


GO
/****** Object:  StoredProcedure [dbo].[Update_TinhTrangHDByMaHD]    Script Date: 5/2/2019 9:23:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Update_TinhTrangHDByMaHD] @MaHD nchar(10)
as
begin
	Update HoaDon set TinhTrang = 1 where MaHD = @MaHD
end

GO
/****** Object:  StoredProcedure [dbo].[UpdatePass_NhanVien]    Script Date: 5/2/2019 9:23:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[UpdatePass_NhanVien] @TenDangNhap varchar(50), @MatKhau nvarchar(100)
as
begin
	Update NhanVien set MatKhau = @MatKhau where TenDangNhap = @TenDangNhap
end
GO
USE [master]
GO
